
body {
font-family: Arial, sans-serif;
}

/* Task 1 CSS */
.task1 h1 {
color: red;
}

.task1 p {
color: gray;
}

/* Task 2 CSS */

.task2 ul {
border: 5px solid green;
}

.task2 ol {
border: 1px solid blue;
}

.task2 ol, .task2 ul {
padding: 10px 50px;
border-radius: 20px;
}

/* Task 3 CSS */
.task3 h1 {
font-size: 2rem;
margin: 0;
color: purple;
}

.task3 dl {
color: gray;
margin: 0.5em 0;
}

.task3 dt {
font-weight: bold;
color: purple;
}
